[submodule "frontend-web-ui"]
	path = frontend-web-ui
	url = git@git.scc.kit.edu:pse-robot-monitoring/frontend-web-ui.git
[submodule "tui"]
	path = tui
	url = git@git.scc.kit.edu:pse-robot-monitoring/tui.git
[submodule "Backend/src/iosb_nav_msgs"]
	path = Backend/src/iosb_nav_msgs
	url = git@git.scc.kit.edu:pse-robot-monitoring/iosb_msg_types/iosb_nav_msgs.git
